* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color:  rgb(255, 255, 240);
  text-align: center;
  background-image: url("https://res.cloudinary.com/do3ahravh/image/upload/v1734692768/hopee_opcwm8.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
}

#content {
  height: 100vh;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8rem;
}

.navbar {
  height:60px;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
  align-items: center;

  justify-content: space-between;
}
.left {
  padding: 0 10%;
}
ul {
  display: flex;
  list-style: none;

  align-items: center;
}

ul li {
  margin: 0 10px;
  font-size: 16px;
}

ul li a {
  color: rgb(255, 255, 240);
  font-weight: 500;
  transition: color 0.3s ease;
  cursor: pointer;

  text-decoration: none;
}
.right {
  margin-right: 10%;
}

ul li a:hover {
  color: rgb(168, 35, 201);
  
 
}

li img {
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}

.box {
  flex-direction: column;
  font-size: 2rem;
  display: flex;
  text-align: left;
  color: rgb(255, 255, 240);
}


button {
  background-color: #ffffff00;
  color: #fff;
  width: 6rem;
  height: 2rem;
  padding: 2px 6px;
  border: rgb(255, 255, 240) 0.2em solid;
  border-radius: 33px;
  text-align: center;
  transition: all 0.6s ease;
}

button:hover {
  background-color: rgb(207, 181, 32);
  cursor: pointer;
  border: 0px;
}

button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

button:hover svg {
  transform: translateX(5px);
} 
  

.nextpg{
  display: flex;
  height: 37vh;
}
.box1 {
  background: url('https://res.cloudinary.com/do3ahravh/image/upload/v1734692935/img1_xw6wfq.avif') center no-repeat;
  background-size: cover;
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  
 
}.box2{
  background: url('https://res.cloudinary.com/do3ahravh/image/upload/v1734692964/img2_lpjudn.avif') center no-repeat;
  background-size: cover;
  width: 33.3%;
  display: flex;

  align-items: center;
  justify-content: center;
}
.box3{
  background: url('https://res.cloudinary.com/do3ahravh/image/upload/v1734692976/img4_dhemyu.avif') center no-repeat;
  background-size: cover;
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.image_1{
 
  background-color:#ffff0042;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.image_3{background-color:#00ff004f;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}
 
  
.nextpg img{
  width: 28.1rem;
}
.image_1 h4 {
  font-size: 1.8rem;
  padding: 5rem;
  flex-wrap: wrap;
  color: rgb(255, 255, 240) ;
}
.image_2 h4{
  font-size: 1.8rem;
  padding: 5rem;
   flex-wrap: wrap;
  color: rgb(255, 255, 240) ;
}
.image_3 h4{
  font-size: 1.8rem;
  padding: 5rem;
   flex-wrap: wrap;
  color: rgb(255, 255, 240) ;
}
#pg3{
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0 2rem 1rem;
  gap: 1rem 1.5rem;
   justify-content: center; 
  }
  #pg3 img{
    transition: transform 0.3s ease;
    width: 20rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
   
  }
  #pg3 img:hover {
    transform: scale(1.05); 
   
    cursor: pointer;
  }

.con3{
  margin: 2rem;
  font-size: 1.3rem;
}
.gallery body {
  background-image: none;
  background-color: #f4f4f9;
}

footer {
  background-color: rgb(0 0 0 / 50%);
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 1200px;
  margin: 1rem auto;
  color: white;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column a {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-column a:hover {
  text-decoration: underline;
} 

.material-symbols-outlined{
  display: none;
}
@media (max-width: 768px) {
  .nextpg {
    flex-direction: column; 
    height: auto; 
  }
  .box{
    font-size: 1.6rem;
    
  
  }

  .box1,
  .box2,
  .box3 {
    width: 100%; 
    height: 15rem; 
  }

  .image_1 h4,
  .image_2 h4,
  .image_3 h4 {
    font-size: 1.2rem; 
    padding: 1rem; 
  }
  #pg3 img {
    width: 15rem; 
  }
  #pg3 h4 {
    font-size: 1.3rem; 
  }
}

@media (max-width: 480px) {
  .box1,
  .box2,
  .box3 {
    height: 12rem; 
  }
  body {
    background-image: url("https://res.cloudinary.com/do3ahravh/image/upload/v1735299914/bill-wegener-zXfuAIUDfao-unsplash_az5srj.jpg");
    height: 100vh;
  } 
  .left{
    font-size: 19px;
   padding: 0 3%;
   
  }
  .box{
    font-size: 1rem;
  }
  ul li{
    font-size: 0%;
   
  }
  #content{
    padding: 0 1rem;
    height: 90vh;
  }
  .material-symbols-outlined{
    display: block;
    color: white;
   margin-right: 0
  }
  .image_1 h4,
  .image_2 h4,
  .image_3 h4 {
    font-size: 1.2rem; 
  }
  #pg3 {
    margin: 1rem 0;
    gap: 0.5rem; 
  }
  #pg3 img {
    width: 100%; 
    max-width: 18rem; 
  }

  #pg3 h4 {
    font-size: 1rem; 
  }
} 